body{
  display: grid;
  min-height: 100vh;
  grid-template-rows: 4rem 1fr 4rem;
  background-color: #ffbf69; 
  overflow: hidden;
  scrollbar-width: none;
}

.body::-webkit-scrollbar
{
	display: none;
}

.body
{
	-ms-overflow-style: none;  /* IE and Edge */
}

/*Id forms determina el aspecto general de todos los formulario existentes*/
.box
{
	background-color: white;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid gray;
	padding: 2rem;
	height: 43rem;
}
.medium {
	margin-left: auto;
	margin-right: auto;
}
/*Aplicamos las clases que determinan ancho y alto de cada formulario en función a su contenido*/
#form_login
{
	width: 25rem;
	height: 25rem;
}
/*Formulario de registro [registro.php]*/
#form_reg
{
	width: 40rem;
	height: 35rem;
}
.control.has-text-centered {
	margin-bottom: 0.4rem;
}
input.button.is-link {
    margin-left: 0.3rem;
}
/*Formulario de contacto [contacto.php]*/
#form_contact
{
	width: 35rem;
	height: 33rem;
}
/*Formulario de informar de un problema [form_problemas.php]*/
#form_issues
{
	width: 25rem;
	height: 33rem;
}
/*Formulario de cambio de contraseña [cambio_pass.php]*/
#form_pass_change
{
	width: 25rem;
	height: 28rem;
}

/*Estilo para el contenedor de área de trabajo de cada usuario*/
#area_trabajo
{
	background-color: white;
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	padding: 2rem;
	width: 25rem;
	height: 34rem;
}

h1{
  text-align: center;
}

nav{
  display: grid;
  background-color: #ffbf69; 
  grid-template-columns: repeat(2,1fr);
}
.nav-right{
  grid-column-start: 2;
  text-align: right;
}
footer{
  text-align: right;
  background-color: #ffbf69; 
  font-size:1vw;
}
main{
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  background-color: #ffbf69; 
}

/* Menu de Alumnos y Profesores */

.logged {
	display: grid;
	grid-template-columns: 20rem 1fr;
}

aside{
	background-color: aliceblue;
	text-align: center;
}
.navbar-end .navbar-dropdown:last-child {
    left: -150px;
}

/*Configuración del estilo de sidebar de las sesiones de usuarios*/
#aside_style
{
	font-family: Verdana;
	font-size: x-large;
	background-color: aliceblue; 
}
aside{
	background-color: aliceblue;
	text-align: center;
}
.menu-label
{
	font-family: Verdana;
	font-size: xx-large;
}