body{
  display: grid;
  min-height: 100vh;
  grid-template-rows: 4rem 1fr 4rem;
  background-color: #ffbf69; 
}
/*Id forms determina el aspecto general de todos los formulario existentes*/
.box
{
	background-color: white;
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid gray;
	padding: 2rem;
}
/*Aplicamos las clases que determinan ancho y alto de cada formulario en función a su contenido*/
#form_login
{
	width: 25rem;
	height: 25rem;
}
/*Formulario de registro [registro.php]*/
#form_reg
{
	width: 35rem;
	height: 32rem;
}
/*Formulario de contacto [contacto.php]*/
#form_contact
{
	width: 35rem;
	height: 33rem;
}
/*Formulario de informar de un problema [form_problemas.php]*/
#form_issues
{
	width: 25rem;
	height: 33rem;
}
/*Formulario de cambio de contraseña [cambio_pass.php]*/
#form_pass_change
{
	width: 25rem;
	height: 28rem;
}

/*Estilo para el contenedor de área de trabajo de cada usuario*/
#area_trabajo
{
	background-color: white;
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	padding: 2rem;
	width: 25rem;
	height: 34rem;
}

h1{
  text-align: center;
}

nav{
  display: grid;
  background-color: #ffbf69; 
  grid-template-columns: repeat(2,1fr);
}
.nav-right{
  grid-column-start: 2;
  text-align: right;
}
footer{
  text-align: right;
  background-color: #ffbf69; 
  font-size:1vw;
}
main{
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  background-color: #ffbf69; 
}
